

.videoWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.videoImg {
  width: 100%;
  border-radius: 10px;
}

.video-card {
  cursor: pointer;
  width: 30vw;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgb(160, 160, 160);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  position: relative; 
}

.video-card video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: none;
}

.video-card:hover video {
  display: block;
  opacity: 1;
}

.video-card:hover {
  cursor: pointer;
  /* height: 50vh; */
  width: 30vw;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgb(160, 160, 160);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  object-fit: cover;
  transform: scale(1.03);
}

.modal {
  display: block;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 7% auto;
  padding: 20px;
  border: 1px solid #888;
  height: 69%;
  width: 59%;
}

.close-btn {
  position: relative;
  width: 6em;
  height: 4em;
  border: none;
  background: none;
  float: right;
}

.X {
  color: #000;
  position: absolute;
  top: 50%;
  left: 33%;
  width: 2em;
  height: 1.5px;
  background-color: black;
  transform: rotate(45deg);
}

.Y {
  position: absolute;
  top: 50%;
  left: 33%;
  width: 2em;
  height: 1.5px;
  background-color: black;
  transform: rotate(-45deg);
}

.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -40%;
  left: 70%;
  width: 3em;
  height: 1.7em;
  font-size: 16px;
  background-color: rgb(254, 255, 225);
  color: #000;
  border: 1px solid #000;
  pointer-events: none;
  opacity: 0;
}

.close-btn:hover > .close {
  animation: close 0.2s forwards 1.25s;
}

@keyframes close {
  100% {
    opacity: 1;
  }
}

iframe {
  width: 100%;
  height: 90%;
}
