.cd3{
    width: 48%;
}
.cd3Wrapper{
    display: flex;
    gap: 15px;
    background-color: rgb(252,239,233);
    width: fit-content;
    padding: 25px;
    border-radius: 20px;
}

.cd3title{
    background-color: rgb(248,225,210);
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    color: rgb(242,76,46);
}

.cd3img{
    border-radius: 20px;
}

.date{
    font-size: 70px;
}

.dateDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(242,76,46);
}

.cd3Text1{
    font-size: larger;
}