.cd5Wrapper{
    position: relative;
    padding: 5px;
    border-radius: 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cd5container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cd5imgDiv{
    object-fit: cover;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.cd5textDiv{
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.cd5Text{
    font-size: larger;
}

.gamelogo{
    position: absolute;
    top: 65%;
    right: 0%;
    width: 40px;
    border-radius: 50%;
    border: 4px solid white;
    height: 40px;
}

.game1logo{
    position: absolute;
    top: 84%;
    right: 0%;
    width: 40px;
    border-radius: 50%;
    border: 4px solid white;
    height: 40px;
}

