nav{
    margin: 30px;
    margin-top: 15px;
    width: 95%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search{
    background-color: rgb(226, 224, 224);
    border-radius: 10px;
    padding: 5px;
    border: 0;
    width: 300px;
    outline-color: rgb(0, 174, 255);
}
.navInfo{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.prfPic{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}


