@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.navbar2 {
    background-color: rgba(255, 255, 255,0.4);
    letter-spacing: 1px;
    color: rgba(50,126,94,255);
    align-items: center;
    justify-content:center;
    font-family: Poppins, serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav a{
    text-decoration: none;
    color: black;
}

nav ul li{
        list-style: none;
        padding: 0px 14px;
        margin-right: 30px;
        font-size: 115%;
        font-weight: 400;
        display: inline-block;
        border-radius: 1rem;
}

nav ul{
    list-style: none;
    margin-left: 1rem;
}


.lg-btn{
    font: inherit;
    font-size: 1.1rem;
    border: none;
    outline: none;
    background-color: transparent;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 15px;
}

.navbar-logo{
    display: block;
    margin-left: 8rem;
    margin-top: .4rem;

}
.navbar-logo >img{
    width: 7rem;
    height: 4rem;
    padding: .2rem;
    border-radius: 20rem;
    border: .1rem solid rgba(50,126,94,255);
}

.logout-btn{
    color: black;
}
