@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Roboto&family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Fredoka:wght@600&family=Poppins:wght@500&family=Signika+Negative:wght@500;600&display=swap');
.home{
    width: 100%;  
    padding: 10px;
    opacity: 1;
    margin-top: 60px;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
 
  .allkids{
    display: flex;
  }
.homeSection1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 338px;
    padding: 160px 100px;
    color: white;
}

.homeSection1::before {
    margin-top:71px;
    content: "";
    position: absolute;
    background: url('../../images/16455786_05sa_ldnn_2106179.jpg') center center/cover;
    height: 650px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    /* opacity:0.9 ; */
}

.homeSection2{
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.homeSection3{
    padding: 20px;
}

.homeSection4{
    background-color: rgb(254,249,243);
    padding-bottom: 10px;
}

/* image css */
.home .imgDiv{
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6.5;
}
.allkids{
    position: absolute;
    right: 0px;
    top: 340px;
}
.homeimg{
    /* border-radius: 20px; */
    /* max-width: 100%; */
    height: 380px;
    /* height: 340px; */
    margin: 0;
    padding: 0;
}

.homeimg3{
    border-radius: 50%;
    /* border-radius: 10px; */
    width: 105%;
}

.homeTitle{
    font-size: 50px;
    font-weight:1000px;
    color: purple;
    color: rgb(145, 4, 106);

    /* font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif; */
    margin: 10px;
    margin-right: 16px;
    margin-bottom: 40px;
    /* margin: 0px; */
    font-family: 'Fredoka', sans-serif;
}
.homeTitle2{
    font-size: 55px;
    font-weight:1000px;
    color: purple;
    color: rgb(196, 35, 151);
    /* font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif; */
    margin: 10px;
    position: absolute;
    top: 80px;
    font-family: 'Fredoka', sans-serif;
}

.homeText{
    padding: 20px;
    flex: 5.5;
    margin-right: 700px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgba(255, 165, 0,0.1); */
    
}

.homeText3{
    background-color: rgb(254,249,243);
    border-radius: 20px;
    padding: 50px;
    flex: 7;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.explore{
    background-color: orange;
    border: 0px;
    padding: 18px  24px;
    font-size: 28px;
    color: white;
    border-radius: 15px;
    font-family: 'Signika Negative', sans-serif;
}

/* cards css */
.cdWrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cdWrapper2{
    display: flex;
    gap: 30px;
    width: 95%;
}

.cdWrapper3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    background-color: rgb(254,173,84);
    padding: 10px;
    border-radius: 20px;
}

.cd4{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 0px;
    width: 100%;
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cd4:hover{
    padding: 10px;
    background-color: rgb(248,225,210);
    border-radius: 20px;
    margin-top: 0px;
    width: 100%;
}


.logi{
    height: 5rem;
    margin-top: 1.2rem;
    margin-right: 1rem;
}

.logg{
    height: 5rem;
    border: 2.5px solid  rgba(50,126,94,255);
    margin-top: 1.2rem;
    margin-right: 1rem;
    border-radius: 10rem;
}

.btn-2{
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 20px;
    border: 0px;
    font-size: larger;    
    width: 100%;
}

.btnWrapper{
    width: 100%;
}


.col1{
    flex: 3.5;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.col2{
    flex: 5;
    display: flex;
    object-fit: cover;
}
.col3{
    flex: 3.5;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


