.eventContainer {
    width: 100%;
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
  .eventWrapper {
    display: flex;
  }
  
  .main {
    flex: 11;
    width: 100%;
    margin-top: 70px;
  }
  
  .eventList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  