  .cardImgDiv{
    object-fit: cover;
  }

  .cardImg{
    border-radius: 20px;
    max-width: 100%;
  }

  .cardsDiv{
    background-color: #d3d3d3;
    padding: 30px;
    border-radius: 20px;
    margin-top: 40px;
  }

  .card{
    background-color: rgb(255, 255, 255);
    /* width: 100%; */
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .startbtn{
    background:rgb(255,2,100) ;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


